<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFundLabel" jhiTranslate="kbldemoApp.fund.home.createOrEditLabel">Create or edit a Fund</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!fund.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="fund.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kbldemoApp.fund.range" for="field_range">Range</label>
            <input type="text" class="form-control" name="range" id="field_range"
                [(ngModel)]="fund.range"
            required />
            <div [hidden]="!(editForm.controls.range?.dirty && editForm.controls.range?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.range?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kbldemoApp.fund.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="fund.name"
            required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="kbldemoApp.fund.category" for="field_category">Category</label>
            <select class="form-control" id="field_category" name="category" [(ngModel)]="fund.category" >
                <option [ngValue]="null"></option>
                <option [ngValue]="categoryOption.id === fund.category?.id ? fund.category : categoryOption" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="kbldemoApp.fund.subCategory" for="field_subCategory">Sub Category</label>
            <select class="form-control" id="field_subCategory" name="subCategory" [(ngModel)]="fund.subCategory" >
                <option [ngValue]="null"></option>
                <option [ngValue]="subCategoryOption.id === fund.subCategory?.id ? fund.subCategory : subCategoryOption" *ngFor="let subCategoryOption of subcategories; trackBy: trackSubCategoryById">{{subCategoryOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="kbldemoApp.fund.country" for="field_country">Country</label>
            <select class="form-control" id="field_country" multiple name="country" [(ngModel)]="fund.countries">
                <option [ngValue]="getSelected(fund.countries, countryOption)" *ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
