
<div *ngIf="vniHistory">
    <h2><span jhiTranslate="kbldemoApp.vniHistory.detail.title">Vni History</span> {{vniHistory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="kbldemoApp.vniHistory.date">Date</span></dt>
        <dd>
            <span>{{vniHistory.date | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="kbldemoApp.vniHistory.value">Value</span></dt>
        <dd>
            <span>{{vniHistory.value}}</span>
        </dd>
        <dt><span jhiTranslate="kbldemoApp.vniHistory.fund">Fund</span></dt>
        <dd>
            <div *ngIf="vniHistory.fund">
                <a [routerLink]="['/fund', vniHistory.fund?.id]">{{vniHistory.fund?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'vni-history/'+ vniHistory.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
