<div>

    <h2>
        <span jhiTranslate="kbldemoApp.fund.home.title">Funds</span>
    </h2>
    <jhi-alert></jhi-alert>


    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="funds">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                <th jhiSortBy="category.id"><span jhiTranslate="kbldemoApp.fund.category">Category</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="subCategory.id"><span jhiTranslate="kbldemoApp.fund.subCategory">Sub Category</span>
                    <span class="fa fa-sort"></span></th>
                <th jhiSortBy="range"><span jhiTranslate="kbldemoApp.fund.range">Range</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="name"><span jhiTranslate="kbldemoApp.fund.name">Name</span> <span
                    class="fa fa-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let fund of funds ;trackBy: trackId">
                <td>
                    <div *ngIf="fund.category">
                        <a [routerLink]="['../category', fund.category?.id ]" >{{fund.category?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="fund.subCategory">
                        <a [routerLink]="['../sub-category', fund.subCategory?.id ]" >{{fund.subCategory?.name}}</a>
                    </div>
                </td>
                <!--<td><a [routerLink]="['../fund', fund.id ]">{{fund.id}}</a></td>-->
                <td>{{fund.range}}</td>
                <td>{{fund.name}}</td>
                <td>
                    <div *ngIf="fund.currency">
                        <a [routerLink]="['../currency', fund.currency?.id ]" >{{fund.currency?.id}}</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


</div>
